.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 10px;
  align-items: center;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-nav > ul > li {
  // flex-direction: row;
  // justify-content: space-between;
  font-family: $sans-serif;
  padding: 0px 10px;
}

.right-nav > ul > li {
  padding: 0px 2px;

}

.right-nav > ul > li:last-of-type {

}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {
  text-transform: uppercase;
  font-family: $sans-serif;
}

.button {
  padding: 5px;
}

.right-nav i {
  font-size: 15px;
}